/* @import url(https://fonts.googleapis.com/css?family=Lato:300italic,700italic,300,700); */
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');


* {
    /* border: solid 1px red; */
    font-family: 'Roboto', sans-serif;
}

h2 {
    font-weight: 400;
}

body {
    
    background-color: black;
    margin: 0px auto;
    max-width: 1150px;
    color: white;
}

#overlay, #webgl, #my_camera {
    position: absolute;
    top: 0px;
    left: 0px;
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    -ms-filter: fliph;
    /*IE*/
    filter: fliph;
    /*IE*/
}

#webgl {
    z-index: 1;
}

#webgl2 {
    display: none;
}

#videoel {
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    -ms-filter: fliph;
    /*IE*/
    filter: fliph;
    /*IE*/
}


#content {
    display: grid; /* Using flex-box to organize the main layout between Main camera & Development area */
    grid-template-areas:
        "camera start-button"
        ;
    align-items: center;

    /* margin-top: 50px; */
    margin-left: 20px;
    margin-right: 20px;
    max-width: 90vw;
    height: 90vh;
}
#container {
    grid-area: camera;
    position: relative;
    /* width: 370px; */
    /*margin : 0px auto;*/
}
#dev-area {
    grid-area: dev;
}
#start-button {
    grid-area: "button";
    padding: 50px;
}

.face-selection {
    display: grid;
    grid-template-rows: 450px 50px;

    text-align: center;
}
#controls {
    grid-row-start: 1;
    grid-row-end: 2;
}
#enter-name {
    grid-row-start: 2;
    grid-row-end: 3;
}
#enter-name #user_name {
    background-color: black;
    border: none;
    color: white;
    padding: 10px;
    font-size: 2rem;
}

.btn {
    margin-top: 10px;
    padding: 15px 30px;
    font-size: 1rem;
    background-color: black;
    border: solid 1px white;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
}
#controls .start-button {
    padding: 20px 70px;
    font-size: 1.5rem;
    width: auto;
}

::-webkit-input-placeholder {
    text-align: center;
 }
 
 :-moz-placeholder { /* Firefox 18- */
    text-align: center;  
 }
 
 ::-moz-placeholder {  /* Firefox 19+ */
    text-align: center;  
 }
 
 :-ms-input-placeholder {  
    text-align: center; 
 }

.nogum {
    display: none;
}

.hide {
    display: none;
}

.nohide {
    display: block;
}